<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Matériaux"> Content 1 </mat-tab>
  <mat-tab label="Consommables"> Content 2 </mat-tab>
  <mat-tab label="Décorations"> Content 3 </mat-tab>
  <mat-tab label="Ateliers"> Content 3 </mat-tab>
  <mat-tab label="Constructions"> Content 3 </mat-tab>
  <mat-tab label="Outils"> Content 3 </mat-tab>
  <mat-tab label="Armes"> Content 3 </mat-tab>
  <mat-tab label="Armures"> Content 3 </mat-tab>
  <mat-tab label="Familiers"> Content 3 </mat-tab>
  <mat-tab label="Peintures de guerre"> Content 3 </mat-tab>
  <mat-tab label="Autres"> Content 3 </mat-tab>
</mat-tab-group>
